.m-header {
	position: fixed !important;
	z-index: 2 !important;
	top: 60px !important;
	left: 0px;
}
.md-full-sidebar .m-sidebar {
	position: fixed !important;
	top: 100px !important; 
}
.m-sidebar {
	right: -12%;
}
.m-page {
	width: 85% !important;
}

body {
	background-color:#282828;
}
.m-wrap, .m-tablet {
	max-width:unset !important;
}
.m-wrap {
	max-width:unset !important;
	margin:unset !important;
	top: 90px !important;
}
.m-users {
	visibility: hidden;
}
.m-nav-online {
	visibility: hidden;
}
.md-boxed .m-moot {
    margin-bottom: 0.2em !important;
}
.md-boxed .m-collapse-all {
    margin: unset !important;
}
.jlogo {
	width: 130px;
    	position: fixed;
    	top: 3px;
	z-index: 2;
}
.greybar {
	position: fixed;
    	top: 0;
    	left: -7px;
}
.m-pc.md-dark-sidebar .m-links a.m-selected {
    background-color: #259f1dcc !important;
    color: rgba(0,0,0,0.8);
}
.md-dark-page .m-pagetitle div::before {
    color: rgba(66, 194, 18, 0.67) !important;
}
.md-dark-page .m-select label, .md-dark-page .m-collapse-all a, .md-dark-page .m-pagetitle div, .md-dark-page .m-collapse-all .m-icon, .md-dark-page .m-unverified {
    color: rgba(255, 157, 46, 0.98) !important;
}
.m-pc.md-dark-sidebar .m-links a, .m-pc.md-dark-sidebar .m-subs p, .m-pc.md-dark-sidebar .m-anon-count {
    color: rgba(237, 149, 16, 0.91) !important;
}
.m-form {
	top: 20px;
}
.m-account form {
    margin-bottom: 1.8em;
    position: relative;
    top: -85px;
}
form .m-h3 .m-input .m-right {
	visibility: hidden !important;
}
