.m-header {
	position: fixed !important;
	z-index: 2 !important;
	top: 60px !important;
	left: 0px !important;
}
.md-full-sidebar .m-sidebar {
	top: -11px !important;  
}
.m-sidebar {
	left: 10px;
	width: 180px !important;
	height: 310px !important;
}
.m-page {
	width: auto !important;
	margin-left: 200px !important;
	margin-right: 10px !important;
	margin-top: 25px !important;
	display: block !important;
	padding: 0 !important;
}

body {
	margin: 0;
	background-color:#282828;
}
.m-wrap, .m-tablet {
	max-width:unset !important;
}
.m-wrap {
	max-width:unset !important;
	margin:unset !important;
	top: 90px !important;
}
.m-users {
	visibility: hidden;
}
.m-nav-online {
	visibility: hidden;
}
.m-nav-account {
	padding-right: 10px !important;
}
.md-boxed .m-moot {
    margin-bottom: 0.2em !important;
}
.md-boxed .m-collapse-all {
    margin: unset !important;
}
.jlogo {
	width: 130px;
    	position: fixed;
    	top: 3px;
	z-index: 2;
	left: 15px;
}
.greybar {
	position: fixed;
    	top: 0;
    	left: -7px;
}
.m-pc.md-dark-sidebar .m-links a.m-selected {
    background-color: #259f1dcc !important;
    color: rgba(0,0,0,0.8);
}
.md-dark-page .m-pagetitle div::before {
    color: rgba(66, 194, 18, 0.67) !important;
}
.md-dark-page .m-select label, .md-dark-page .m-collapse-all a, .md-dark-page .m-pagetitle div, .md-dark-page .m-collapse-all .m-icon, .md-dark-page .m-unverified {
    color: rgba(255, 157, 46, 0.98) !important;
}
.m-pc.md-dark-sidebar .m-links a, .m-pc.md-dark-sidebar .m-subs p, .m-pc.md-dark-sidebar .m-anon-count {
    color: rgba(237, 149, 16, 0.91) !important;
}
.m-form {
	top: 10px;
}
.m-account {
    top: -85px;
}
.md-full-sidebar > .m-wrap {
    position: fixed;
}
.m-tablet .m-page {
 	margin: 0 !important;
	margin-top: 30px !important;
}
.md-boxed.is-forum .m-page {
    padding-right: 0;
}
.m-tablet .m-sidebar {
    width: 0 !important;
    padding: 0;
}
.m-pagepage .m-pagetitle {
    display: none !important;
}
#m-user-profile {
    margin-bottom: 1.8em;
    padding-top: 1.7em !important;
}
div.m-h3+span+input.m-input {
	display:none;
}
.m-account .m-right {
	display: none;
}
.m-account .m-h3 {
	display:none;
}
.m-account [type=email] {
	display:block !important;
}
.m-email .m-h3 {
	display: block !important;
}
.m-email .m-right {
	display: block !important
}
.m-account .m-names .m-h3 {
		display: block !important
}
.m-account form {
    top: -20px;
}
